.carousel-item img {
  object-fit: cover;
  border-radius: 12px;
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
}

.carousel-indicators button {
  background-color: var(--coffee);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(80%);
}

