.card {
  background-color: var(--dun);
  border-radius: 12px;
}

h3 {
  color: var(--coffee);
}

.btn-primary {
  background-color: var(--coffee);
  border: none;
}

.btn-primary:hover {
  background-color: var(--raw-umber);
}

.elegant-input {
  border: 1px solid #d6cfc2;
  border-radius: 8px;
  background-color: #faf9f7;
  transition: all 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

.elegant-input:focus {
  border-color: #d4af37;
  box-shadow: 0 0 8px rgba(212, 175, 55, 0.3);
}

.btn-royal {
  background: linear-gradient(135deg, #d4af37, #f1e4b3, #bfa76b);
  color: #1a1a1a;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(180, 160, 120, 0.4);
}

.btn-royal:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(180, 160, 120, 0.5);
}

.login-link {
  color: #b2924f;
  transition: color 0.3s ease;
}

.login-link:hover {
  color: #d4af37;
  text-decoration: underline;
}



/* Center login card vertically on mobile in desktop-view mode */
@media (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  app-footer {
    margin-top: auto;
  }

  /* Override container spacing for this mode */
  .container {
    margin-top: auto !important;
    margin-bottom: auto !important;

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.custom-toast {
  position: fixed;
  bottom: 280px;
  left: 50%;
  transform: translateX(-50%) translateY(50px);
  background: #333;
  color: #fff;
  padding: 12px 22px;
  border-radius: 8px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  z-index: 9999;
  font-size: 14px;
}

.custom-toast.show {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

