<!-- Perfume Cards -->
<div class="container mt-4">
  <!-- Filters -->
  <div class="row justify-content-center mb-4 g-3 mt-5 mb-5 filter-bar">

  <!-- Search Filter -->
  <div class="col-md-3 col-sm-6 position-relative">
      <input
          type="text"
          class="form-control filter-input"
          placeholder="Search perfume..."
          [(ngModel)]="searchText"
          (input)="filterPerfumes()"
      />
  </div>

  <!-- Gender Filter -->
  <div class="col-md-3 col-sm-6 position-relative">
    <select
      class="form-select filter-select"
      [(ngModel)]="searchGender"
      (change)="filterPerfumes()"
    >
      <option value="">Category</option>
      <option value="Men">Men</option>
      <option value="Women">Women</option>
      <option value="unisex">Unisex</option>
      <option value="NewLaunch">New Launch</option>
    </select>
  </div>

  <!-- Price Range Filter -->
  <div class="col-md-3 col-sm-6 position-relative">
    <select
      class="form-select filter-select"
      [(ngModel)]="selectedPriceRange"
      (change)="filterPerfumes()"
    >
      <option value="">Sort By</option>
      <option value="200-500">₹200 - ₹500</option>
      <option value="500-1000">₹500 - ₹1000</option>
      <option value="1000-2000">₹1000 - ₹2000</option>
      <option value="2000-5000">₹2000 - ₹5000</option>
      <option value="5000-10000">₹5000 - ₹10000</option>
    </select>
  </div>

</div>
</div>

  <!-- No Data Found Message -->
<div *ngIf="filteredPerfumes.length === 0" class="text-center mt-5 mb-5">
  <h4>No data found</h4>
</div>
<!-- Perfume Cards -->
<div class="container">
  <div class="row justify-content-center">
    <div
      class="col-md-4 col-sm-6 mb-5"
      *ngFor="let perfume of filteredPerfumes"
      (click)="viewPerfumeDetails(perfume.id)"
      style="cursor: pointer; "
    >
      <div class="card perfume-card shadow-sm">
        <div class="img-wrapper">
          <img
            [src]="perfume?.imageUrl"
            alt="{{ perfume?.name }}"
            class="card-img-top perfume-image"
          />
        </div>

        <div class="card-body d-flex flex-column justify-content-between">
          <div>
            <h5 class="card-title perfume-name">{{ perfume?.name }}</h5>
            <!-- <p class="card-text text-muted small">{{ perfume?.description }}</p> -->
            <p class="card-text">
              <strong></strong> {{ perfume.gender | titlecase }}
            </p>
            <h6 class="price-text">₹{{ perfume.price | number: '1.2-2' }}</h6>

            <span
              *ngIf="perfume.latestLaunch"
              class="badge bg-premium"
              style="color: black"
            >
              🌟 New Launch
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
